---
import { siteConfig } from '../data/socials';
---

<header class="masthead">
  <div class="container">
    <div class="masthead-inner">
      <a href="/" class="masthead-brand">
        {siteConfig.title}
      </a>
      <span class="masthead-tagline">{siteConfig.tagline}</span>
    </div>
  </div>
</header>
