---
import Header from "../components/Header.astro";
import LeftSidebar from "../components/LeftSidebar.astro";
import RightSidebar from "../components/RightSidebar.astro";
import Footer from "../components/Footer.astro";
---

<div class="site-shell">
  <Header />
  <div class="site-main-grid">
    <LeftSidebar />
    <main id="main-content" class="main-column">
      <slot />
    </main>
    <RightSidebar />
  </div>
  <Footer />
</div>
